doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    script(src='/bootstrap/js/jquery-3.0.0.js')
    script(src='/bootstrap/js/getfiles.js')
  body
    block content
